config-files/adf-templates/multiple-excel-sheet-ingestion.json
{
    "name": "ingestion_multiple_excel_sheets",
    "properties": {
        "activities": [
            {
                "name": "set source path",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "set fileSystem",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "sourcePath",
                    "value": {
                        "value": "@activity('configFile lookup').output.firstRow.pipeline.raw.source_path",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "configFile lookup",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "configFile",
                        "type": "DatasetReference",
                        "parameters": {
                            "configFile": {
                                "value": "@pipeline().parameters.configFile",
                                "type": "Expression"
                            },
                            "configPath": {
                                "value": "@pipeline().parameters.configPath",
                                "type": "Expression"
                            },
                            "configFS": {
                                "value": "@pipeline().parameters.configFS",
                                "type": "Expression"
                            }
                        }
                    }
                }
            },
            {
                "name": "set fileSystem",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "configFile lookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "fileSystem",
                    "value": {
                        "value": "@activity('configFile lookup').output.firstRow.pipeline.adl_file_system",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "set sink path",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "set source path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "sinkPath",
                    "value": {
                        "value": "@activity('configFile lookup').output.firstRow.pipeline.raw.sink_path",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "set excel dataset array",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "set fileSystem",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "excelList",
                    "value": {
                        "value": "@activity('configFile lookup').output.firstRow.pipeline.raw.excel",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "excel sheet to csv",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "set sink path",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "set excel dataset array",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('excelList')",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 3,
                    "activities": [
                        {
                            "name": "set sink file",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "fileName",
                                "value": {
                                    "value": "@item().sink_file",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "copy and merge excel sheet to csv",
                            "description": "Copies the current file from ADL2 to a ADL2 raw time-stamped folder (YYYY-MM-DD)",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "set source sheet",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                },
                                {
                                    "activity": "set sink file",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "ExcelSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": false,
                                        "wildcardFolderPath": {
                                            "value": "@variables('sourcePath')",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": "*.xlsx",
                                        "enablePartitionDiscovery": false
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings",
                                        "copyBehavior": "MergeFiles"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "source_excel_sheet",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "sheetName": {
                                            "value": "@variables('sheetName')",
                                            "type": "Expression"
                                        },
                                        "fileSystem": {
                                            "value": "@variables('fileSystem')",
                                            "type": "Expression"
                                        },
                                        "filePath": {
                                            "value": "@variables('sourcePath')",
                                            "type": "Expression"
                                        },
                                        "fileName": "test.xlsx"
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "sink_csv",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filePath": {
                                            "value": "@variables('sinkPath')",
                                            "type": "Expression"
                                        },
                                        "fileName": {
                                            "value": "@variables('fileName')",
                                            "type": "Expression"
                                        },
                                        "fileSystem": {
                                            "value": "@variables('fileSystem')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "error_notification_1",
                            "type": "ExecutePipeline",
                            "dependsOn": [
                                {
                                    "activity": "copy and merge excel sheet to csv",
                                    "dependencyConditions": [
                                        "Failed"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "error_notification",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": false,
                                "parameters": {
                                    "subjectLine": {
                                        "value": "@concat('ADF Pipeline Error:', pipeline().DataFactory, ' ', pipeline().Pipeline)",
                                        "type": "Expression"
                                    },
                                    "errorMsg": {
                                        "value": "@concat('Error in activity: ', activity('copy and merge excel sheet to csv').Error.Message)",
                                        "type": "Expression"
                                    }
                                }
                            }
                        },
                        {
                            "name": "set source sheet",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "sheetName",
                                "value": {
                                    "value": "@item().source_sheet",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "configFile": {
                "type": "string"
            },
            "configPath": {
                "type": "string"
            },
            "configFS": {
                "type": "string"
            }
        },
        "variables": {
            "latestFolder": {
                "type": "String"
            },
            "prevFolder": {
                "type": "String",
                "defaultValue": "1970-01-01"
            },
            "sourcePath": {
                "type": "String"
            },
            "fileSystem": {
                "type": "String"
            },
            "fileName": {
                "type": "String"
            },
            "sinkPath": {
                "type": "String"
            },
            "sheetName": {
                "type": "String"
            },
            "excelList": {
                "type": "Array"
            }
        },
        "folder": {
            "name": "templates/ingestion"
        },
        "annotations": []
    }
}